body {
   /* background-image: url("https://beautifulknitters.co.uk/cdn/shop/products/beautiful-knitters-twill-and-print-mini-row-counter-progress-keeper-winter-spring_800x.jpg?v=1674821649");
   */ background-size: 1400px;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #057c37 35%, rgb(81, 87, 0) 100%); 
    border-radius: 50px;
}

.content {
    background-color: #55378585;
    box-shadow: 0 0 30px #350096;
    max-width: 400px;
    height: 400px;
    border-radius: 50px;
    margin: auto;
    margin-top: 10vh;backdrop-filter: blur(5px);
}

h1 {
    padding-top: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    margin: 10px;
}

button {
    height: 50px;
    padding: 15px 25px;
    margin: 10px 50px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  #save-btn:hover {
    background-color: #3e8e41;
}

#increment-btn:hover {
    background-color: #3e8e41;
}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

#increment-btn {
    background-color: #2117ad;
}

#save-btn {
    background-color: #04AA6D;
}

